# For nginx-ingress on OKE
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: temporal-cloud-ingress
  namespace: temporal-cloud
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: temporal-ui
                port:
                  number: 8080
